<template>
    <div class="flex flex-col items-center">
        <div v-if="temp" class="flex flex-col items-center text-white py-12" >
            <h1 class="text-4xl mb-2" >{{ route.params.cityName }}</h1>
            <p class="text-8xl mb-8">
                {{ Math.round(temp) }}&deg;
            </p>
        </div>
    </div>
</template>

<script setup lang="ts">
import { useCityStore } from '@/stores/CityStore';
import { onBeforeMount, ref, type Ref } from 'vue';
import { useRoute } from 'vue-router';

const cityStore = useCityStore();
const route = useRoute();
const temp = ref();
const from = ref();

onBeforeMount(async ()=>{
    const response = await cityStore.getTemperatureOfCity(route.params.cityName as string)
    if(response.type === "Succes"){
        temp.value = response.temp;
        from.value = response.from;
    }else{
        console.log(response.message)
    }
})
</script>

