<template>
    <ul class="absolute bg-weather-secondary text-white w-full shadow-md py-2 px-1 top-[66px]" v-if="filteredCities">
        <li v-for="city in filteredCities" @click="$emit('previewCity',city)" :key="city.id" class="py-2 cursor-pointer">
          {{ city.name }}
        </li>
      </ul>
</template>

<script lang="ts" setup >
import { type CompactCityJson } from '@/stores/CityStore';
import type { PropType } from 'vue';

defineEmits(["previewCity"])
defineProps({
    filteredCities: {
        type: Array as PropType<CompactCityJson[]>,
        default: null
    }
})
</script>