<template>
  <main class="container text-white">
    <div class="pt-4 mb-8 relative">
      <input type="text" v-model="searchQuery" placeholder="Search for city" class="py-2 px-1 w-full bg-transparent border-b
            focus:border-weather-secondary 
            focus:outline-none 
            focus:shadow-[0px_1px_0_0_#004E7]" @input="filterCities" />
      <SearchfildList
      :filteredCities="filteredCities"
      @preview-city="previewCity"
      />
    </div>
  </main>
</template>

<script setup lang="ts">
import SearchfildList from '@/components/SearchfildList.vue';
import { useCityStore, type CompactCityJson } from '@/stores/CityStore';
import { onBeforeMount, ref, type Ref } from 'vue';
import { useRouter } from 'vue-router';

onBeforeMount(() => {
  cityStore.fetchCities()
})

const cityStore = useCityStore();
const searchQuery = ref("");
const filteredCities: Ref<CompactCityJson[] | undefined> = ref();
const filterTimeout = ref();

const filterCities = () => {
  clearTimeout(filterTimeout.value)
  filterTimeout.value = setTimeout(() => { filteredCities.value = cityStore.filterArray(searchQuery.value); }, 300)
}

const router = useRouter();
const previewCity = (city: CompactCityJson) => {
  const cityName = city.name
  router.push({
    name: "cityView",
    params: { cityName: cityName},
  })
}
</script>